.classified-display{
    font-family: Manrope;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* padding: 0% 2%; */
}
.minor-categories{
    border-right: solid 1px #e3e3e3;
    /* border-left: solid 1px #cfcfcf; */
}
.minor-categories>p{
    margin: 0;
    border-bottom: solid 1px #e3e3e3;
    padding: 8%;
    padding-left: 13%;
    cursor: pointer;
}

.minor-categories>p:hover{
    background-color: rgb(143, 239, 172);
}
.classified-products{
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    gap:1.5vw;
    justify-content: flex-start;
}