.navbar{
    display: flex;
    padding: 1.1% 1%;
    position: sticky;
    top: 0;
    align-items: center;
    border-bottom: solid #e3e3e3 1px;
    background-color: white;
    font-family: Manrope;
    font-size: 1.3vw;
    z-index: 2;
}
.navbar img{
    width: 13%;
    height: 3.1vw;
    margin-left: 1%;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    gap: 3vw;
    list-style: none;
    position: absolute;
    right:13%;
    align-items: center;
}
.navbar ul>li:hover{
    color: grey;
    cursor: pointer;
}
.navbar button{
    position: absolute;
    font-family: Manrope;
    right:5%;
    background-color: rgb(31, 163, 70);
    color:white;
    border: none;
    padding: 0.5% 1.5% 0.6%;
    border-radius: 5px;
    font-size: 1.3vw;
}
.navbar button:hover{
    cursor: pointer;
    opacity: 0.7;
}